<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/images/logo.png" alt="John Dore Logo">
      </div>
      <div class="col-md-6">
        <div class="contact-numbers">
          <div class="number">
            Call: <b>021 981 8943</b>
          </div>
          <div class="number">
            Mobile: <b>076 735 9760</b>
          </div>
        </div>
        <div class="social-media">
          <a href="">Facebook</a>
          <a href="">Twitter</a>
        </div>
      </div>
    </div>
  </div>
</header>