<div class="hero container content"> <!-- container centers content on large screens -->
  <div class="row col-md-12">
    <h1 class="txt-center display-block width-full text-light">SIMPLY THE BEST FLOORING CREW IN CAPE TOWN</h1>
  </div>
  <hr>
  <div class="row">             <!-- responsive row has 12 columns by default -->
    <div class="col-md-4">      <!-- uses 6 columns on medium and larger screens... -->
      <img class="img-fluid" src="../../assets/images/hero_1.jpg" alt="John Dore Flooring">
    </div>
    <div class="col-md-4">
      <p>
        Founded in 1990, John Dore Flooring has built a reputation for flooring excellence that spans almost two decades. 
        <br><br>
        In creating your dream home or ideal working space, a lot of thought, idea’s, planning and implementation needs to take place. At John Dore flooring, we understand that this process can be very daunting and challenging. That is why we are here to help you through it.
        <br><br>          
        Over the years, JD expanded our service offering to incorporate our consultative services which aides our clients to select ideal applications for their interior needs.
        <br><br>          
        Our focus has never just been about our turnover, but rather, to help our clients realise their design objectives by walking and guiding them through the often daunting process.
      </p>
    </div>
    <div class="col-md-4">      <!-- uses 12 columns on smaller than medium screens -->
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>