<content>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-6 spacing-bottom">
        <div class="grey-block-container">
          <h2>Wooden Flooring &amp; Decking</h2>
          <img class="center display-block img-fluid" src="../../assets/images/grid_1.jpg" alt="John Dore Wooden Flooring">
          <p class="txt-center">
            Laminate flooring offers a modern and stylish finish to any space. Its versatility, ease of maintenance, durability and affordability make it a great selection for high-traffic areas.
          </p>
        </div>
      </div>
      <div class="col-md-6 spacing-bottom">
        <div class="grey-block-container">
          <h2>Wooden Flooring &amp; Decking</h2>
          <img class="center display-block img-fluid" src="../../assets/images/grid_2.jpg" alt="John Dore Atrificial Grass">
          <p class="txt-center">          
            Our artificial grass selection is of the highest quality, providing the plush look of a green lawn all-year round without the high maintenance requirements.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 spacing-bottom">
          <div class="grey-block-container">
            <h2>Carpeting</h2>
            <img class="center display-block img-fluid" src="../../assets/images/grid_3.jpg" alt="John Dore Carpeting">
            <p class="txt-center">
              Laminate flooring offers a modern and stylish finish to any space. Its versatility, ease of maintenance, durability and affordability make it a great selection for high-traffic areas.
            </p>
          </div>
        </div>
        <div class="col-md-6 spacing-bottom">
          <div class="grey-block-container">
            <h2>Dustless Wooden Floor Sanding</h2>
            <img class="center display-block img-fluid" src="../../assets/images/grid_4.jpg" alt="John Dore Dustless Wooden Floor Sanding">
            <p class="txt-center">          
              Our dustless sand and seal aids our clients during the installation process by minimising the amount of dust in the area while our installers are at work.
            </p>
          </div>
        </div>
      </div>    
  </div>
</content>