@import "styles-variables";

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

body {
    font-family: 'Poppins', sans-serif;
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
}

.pos-res {
  position: relative;
}

.spacing-top {
  margin-top: 1em;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.social-media {
  svg {
    width: 25px;
    height: 25px;
    fill: #005ca6;
  }
}

.txt-center {
  text-align: center;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-full-width {
  flex: 0 0 100%;
}

.flex-vert-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-horz-center {
  justify-content: center;
}

.width-full {
  width: 100%;
}

.text-light {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.full-height {
  height: 100%;
}

.padding-top-1 {
  padding-top: 1em;
}

hr {
  margin-top: 2em;
  margin-bottom: 3em;
  background: #d0d0d0;
  height: 1px;
  width: 100%;
  border: none;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}


.grey-block-container {
  border: 1px solid #dee0e1;
  background: #f7f7f7;
  display: block;
  padding: 10px;
  p {
    padding: 10px 10px 0px 10px;
  }
}

.spacing-left {
  margin-left: 1em;
}

.spacing-bottom {
  margin-bottom: 1em;
}

.center {
  margin: 0 auto;
}

footer.footer {
  padding-bottom: 5em;
}
 