@import "styles-variables";

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

body {
    font-family: 'Poppins', sans-serif;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.social-media {
  svg {
    width: 25px;
    height: 25px;
    fill: #005ca6;
  }
}

abe-header {
    nav {
      width: 100%;
    }
    
    @media (min-width: map-get($grid-breakpoints, sm)) {
      nav {
        width: 80%;
      }
    }
  }
 