@import "styles-variables";

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

body {
    font-family: 'Poppins', sans-serif;
}

abe-header {
    nav {
      width: 100%;
    }
    
    @media (min-width: map-get($grid-breakpoints, sm)) {
      nav {
        width: 80%;
      }
    }
  }